body {
    background: yellow;
    color: green;
}

input{
    text-align: center;
    background: gainsboro;
}

button{
    background: lime;
    color: darkblue;
    font-size: 15px;
    font-style: italic;
    font-weight: bold;
}

h3 {
    color: blue;
}
